<div>
  <%= image_tag @item.get_image %>
  <p>商品名：<%= @item.name %></p>
  <p>商品説明：<%= @item.caption %></p>
  <p>ジャンル：<%= @item.genre.id %></p>

  <!-- モデルに記述したadd_tax_priceメソッドを使用して税込価格を表示 -->
  <!-- (:dalimited)は数値を3桁区切りにしてくれる(ex:1,234円) -->
  <p>税抜価格</br>(税込価格)</p>
  ：<%= @item.price %>(<%= @item.add_tax_price.to_s(:dalimited) %>)円

  <!-- もしステータスがtrueであれば販売中を返し、そうでなければ販売停止中を返す -->
   <p>販売ステータス</p>
   <% if @item.is_active == true %>
      <%= @item.is_active_true, "販売中" %>
    <% else %>
      <%= @item.is_active_false, "販売停止中" %>
    <% end %>
    
    <%= link_to "編集する", edit_admin_items_path(@item), class: "btn btn-sm btn-success" %>
</div>
