<div class='container'>
  <div class='row'>
    <div>
      <h2 >管理者ログイン</h2>
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <div class="field text-center">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード%>
    <%= f.password_field :password, autocomplete: "current-password", class: "password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン", class: 'btn btn-sm btn-primary' %>
  </div>
<% end %>
<%= render "admin/shared/links" %>
    </div>
  </div>
</div>
