<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto my-1">
      <h4><%= @customer.full_name %>さんの会員情報編集</h4>
      <%= form_with model: @customer, url: admin_customer_path do |f| %>
      <div class="col-md-9 d-flex justify-content-start">
        <div class="col-auto">
          <p>会員ID</p>
          <p>氏名</p>
          <p>フリガナ</p>
          <p>郵便番号</p>
          <p>住所</p>
          <p>電話番号</p>
          <p>メールアドレス</p>
          <p>会員ステータス</p>
        </div>
        <div class="col-auto">
          <div class="col-auto d-flex">
            <div class="col-auto">
              <%= f.text_field :family_name, autofocus: true, required: true, autocomplete: "family_name" %>
            </div>
            <div class="col-auto">
              <%= f.text_field :personal_name, required: true, autocomplete: "personal_name" %>
            </div>
          </div>
          <div class="col-auto d-flex">
            <div class="col-auto">
              <%= f.text_field :family_name_ruby, required: true, autocomplete: "family_name_ruby" %>
            </div>
            <div class="col-auto">
              <%= f.text_field :personal_name_ruby, required: true, autocomplete: "personal_name_ruby" %>
            </div>
          </div>
          <p><%= f.text_field :postcode, required: true, autocomplete: "postcode" %></p>
          <p><%= f.text_field :address, :size=>"72", required: true, autocomplete: "address" %></p>
          <p><%= f.text_field :telephone_number, required: true, autocomplete: "telephone_number" %></p>
          <p><%= f.email_field :email, required: true, autocomplete: "email" %></p>
          <p>
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_deleted_false, "有効" %>

          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted_true, "退会" %>
          </p>
        </div>
      </div>
      <%= f.submit "変更を保存" ,class: "btn btn-success" %>
    </div>
  </div>
</div>