<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto my-3">
      <h4 class="my-3 bg-light"><%= @customer.full_name %>さんの会員情報編集</h4>
      <%= form_with model: @customer, url: admin_customer_path do |f| %>
      <div class="row mt-5">
        <p class="col-md-2">氏名</p>
        <div class="col-md-3">
          <%= f.text_field :family_name, autofocus: true, required: true, autocomplete: "family_name" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :personal_name, required: true, autocomplete: "personal_name" %>
        </div>
      </div>

      <div class="row mt-1">
        <p class="col-md-2">フリガナ</p>
        <div class="col-md-3">
          <%= f.text_field :family_name_ruby, required: true, autocomplete: "family_name_ruby" %>
        </div>
        <div class="col-md-4">
          <%= f.text_field :personal_name_ruby, required: true, autocomplete: "personal_name_ruby" %>
        </div>
      </div>
  
      <div class="row mt-1">
        <p class="col-md-2">郵便番号</p>
  
        <div class="field col-md-9">
          <%= f.text_field :postcode, required: true, autocomplete: "postcode" %>
        </div>
      </div>
  
      <div class="row mt-1">
        <p class="col-md-2">住所</p>
        <div class="field col-md-9">
          <%= f.text_field :address, :size=>"72", required: true, autocomplete: "address" %>
        </div>
      </div>
  
      <div class="row mt-1">
        <p class="col-md-2">電話番号</p>
        <div class="field col-md-9">
          <%= f.text_field :telephone_number, required: true, autocomplete: "telephone_number" %>
        </div>
      </div>
  
      <div class="row mt-1">
        <p class="col-md-2">メールアドレス</p>
        <div class="field col-md-9">
          <%= f.email_field :email, required: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="row mt-1">
        <p class="col-md-2">会員ステータス</p>
        <div class="field col-md-9">
          <%= f.radio_button :is_deleted, :false %>
          <%= f.label :is_deleted_false, "有効" %>

          <%= f.radio_button :is_deleted, :true %>
          <%= f.label :is_deleted_true, "退会" %>
        </div>
      </div>
      <div>
        <%= f.submit "変更を保存" ,class: "btn btn-success" %>
      </div>
      <% end %>
    </div>
  </div>
</div>