<h1>注文情報確認</h1>
  <table class="table table-bordered">
     <tr>
       <td>商品名</td>
       <td>単価（税込）</td>
       <td>数量</td>
       <td>小計</td>
     </tr>
    <% total = 0 %>
    <% @cart_items.each do |cart_item| %>
     <tr>
       <td>
         <%= attachment_image_tag(cart_item.item, :image, size: "60x50") %>
         <%= cart_item.item.name %>
       </td>
       <td><%= (cart_item.item.tax_price).to_i %></td>
       <td><%= cart_item.item_count %></td>
       <td>
           <% subtotal = (cart_item.tax_price*cart_item.count).to_i %> <!--小計の計算-->
           <%= subtotal %>
       </td>
     </tr>
          <!--商品ごとに合計金額に加算-->
      <% total += (cart_item.tax_price*cart_item.count) %>
     <% end %>
  </table>
  <table>
    <tr>
     <th>送料</th>
       <td><%= 800.to_i %></td>
     <th>商品合計</th>
       <td><%= total.to_i %></td>
     <th>請求金額</th>
     　<%= @order.charge = @order.postage.to_i + total.to_i %>
    　 <td><%= @order.charge %></td>
    </tr>
  </table>
    <tr>
       <th>支払い方法</th>
        <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <th>お届け先</th>
       <td>
           <%= @order.ship_postcode %>
           <%= @order.ship_address %>
           <%= @order.ship_name %>
      </td>
    </tr>

  <%= form_with model: @order, url: public_orders_path, method: :post do |f| %>
    <%= f.hidden_field :customer_id %>
    <%= f.hidden_field :postage %>
    <%= f.hidden_field :charge %>
    <%= f.hidden_field :payment_method %>
    <%= f.hidden_field :ship_name %>
    <%= f.hidden_field :ship_address %>
    <%= f.hidden_field :ship_postcode %>
    <%= f.hidden_field :status %>
    <%= f.submit "注文を確定する", class: "btn btn-success" %>
  <% end %>